* {

  box-sizing:border-box;
}

body, html {

  height: 100%;
}

body, header, main, footer {

    margin:auto;
    width:960px;
}

body {

  background: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  width: 80%;
  overflow: visible;
}

header {

  position: relative;
  height: 70px;
  padding-top: 3%;
   text-align: center;
  box-sizing: content-box;
  overflow: hidden;

}

header img {

  float: left;
  clear: left;
}

header li {

  padding-top: 37px;
  float: left;
  padding-left: 3%;
  padding-right: 3%;

}

.bigimage {

  margin-top: 30px;
  margin-bottom: 30px;
}

footer {

  font-size: 1.2em;
  margin: auto;
 
}

.sub-banners ul {

  width: 100%;
}

.sub-banners li {

  display: inline-block;
  
}

#middlebanner {

 margin-left: 20px;
 margin-right: 20px;
}

.card.horizontal-content {
  
  margin-top: 30px;
  float: left;
  overflow:hidden;
}

.card.horizontal-content img {

  width: 50%;
  
}

.FixedHeightContainer
{
  float:right;
  height: 400px;
  width: 50%;    
  padding-left: 30px;
  overflow: scroll;
}

.FixedHeightContainer > h2 {

  font-size: 1.2em;
  padding: 0.8em;
  font-weight: bolder;

}





